.body{
    width: 235px;
    background-color: #fff;
    border-radius: 10px;
}
.remain{
    padding: 5px;
    color: #2F80ED;
    font-weight: 700;
    font-size: 18px;
}
.creditt{
    font-weight: 500;
    font-size: 16px;
}
li{
    list-style: decimal;
}